<ul class="menu menu-main">
    <li>
        <a [routerLink]="['/home']" routerLinkActive="Active">home</a>
    </li>
    <li>
        <a [routerLink]="['/register']"routerLinkActive="Active">register</a>
    </li>
    <li>
        <a [routerLink]="['/product-list']"routerLinkActive="Active">product</a>
    </li>
    <li>
        <a [routerLink]="['/product-detail']"routerLinkActive="Active">product detail</a>
    </li>
    <li>
        <a [routerLink]="['/login']"routerLinkActive="Active">login</a>
    </li>
    
</ul>


