<footer>
    <div class="footer">
        <div class="contactanos k">
            <div >
                NEVATI HOME 
            </div>
            <ul class="cotactanos-items emojis-1">
                <li class="politicas-items">
                    <a class="politicas" href="">Contacto</a>
                </li>
                <li class="politicas-items">
                    <a class="politicas" href="">Politicas de cambios y devoluciones</a>
                </li>
                <li class="politicas-items">
                    <a class="politicas" href="">Politicas de privacidad</a>
                </li>
            </ul>
            <ul class="cotactanos-items emojis-2">
                <li class="politicas-items">
                    <a class="politicas" href="">
                        <img src="./img/fi-rr-comment.png" alt="">
                    </a>
                </li>
                <li class="politicas-items">
                    <a class="politicas" href="">
                        <img src="./img/fi-rr-interrogation.png" alt="">
                    </a>
                </li>
                <li class="politicas-items">
                    <a class="politicas"href="">
                        <img src="./img/fi-rr-info.png" alt="">
                    </a>
                </li>
            </ul>
            <button class="vermas posicion-1">
                VER MAS...
            </button>
        </div>
        <div class="contactanos rym">
            <div>
                CONTACTANOS
            </div >
            <ul class="cotactanos-items emojis-1">
                <li class="politicas-items">
                    <a class="politicas" href="">CALLE 89 # 92 - 11 </a>
                </li>
                <li class="politicas-items">
                    <a class="politicas" href="">3227062162</a>
                </li>
                <li class="politicas-items">
                    <a class="politicas"href="">contacto.com</a>
                </li>
            </ul>
            <ul class="cotactanos-items emojis-2">
                <li class="politicas-items">
                    <a class="politicas" href="">
                        <img src="./img/fi-rr-marker.png" alt="">
                    </a>
                </li>
                <li class="politicas-items">
                    <a class="politicas" href="">
                        <img src="img/fi-rr-call-history.png" alt="">
                    </a>
                </li>
                <li class="politicas-items">
                    <a class="politicas"href="">
                        <img src="./img/fi-rr-envelope.png" alt="">
                    </a>
                </li>
            </ul>
            <button class="vermas posicion-2">
                VER MAS...
            </button>
        </div>
    </div>
    <div class="piedepagina">
        <P>NEVATI HOME TODOS LOS DERECHOS RESERVADOS </P>
        <p>CREADO POR C&C</p>
    </div>
</footer>
