
.footer{
    display: flex;
    background-color: var(--vinotinto);
    width: 80%;
    margin: 6rem auto;
    justify-content: space-around;
 }
 div.footer{
    margin-bottom: 0;
 }
 .contactanos{
    font-size: 3.2rem;
    margin: 8rem 5rem ;
    font-family: "Oswald", sans-serif;
    color: var(--amarillo);
    width: 45%;
    align-items: center;
 }
 a.politicas{
    color: var(--amarillo);
 }
 li.politicas-items{
    margin: 2rem;
 }
 .vermas{
    background-color: var(--amarillo);
    border: transparent;
    font-family: "Oswald", sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
 }
 .k{
    display: none;
 }
 div.rym{
    border: none;
 }
 .posicion-1 {
    position: relative;
    bottom: 41.8rem;
 }
 .posicion-2 {
    position: relative;
    bottom: 42.2rem;
 }
 .piedepagina{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: var(--vinotinto);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .emojis-1{
    display: none;
 }
 @media ( min-width: 665px ) {
    .k{
        display: block;
    }
    div.rym{
        border-left:solid 0.3rem #FFC917;
        padding-left: 5rem;
        margin-left: 0;
        width: 55%;
    }
 }
 @media ( min-width: 1174px ) {   
    .emojis-2{
        display: none;
    }
    .emojis-1{
        display: block;
    }
    .posicion-1 {
        position: relative;
        bottom: 44.8rem;
    }
    .posicion-2 {
        position: relative;
        bottom: 40rem;
    }
 }
 @media ( min-width: 1562px ) {
    .posicion-1 {
        position: relative;
        bottom: 40rem;
    }
    .posicion-2 {
        position: relative;
        bottom: 40rem;
    }
 }
 
 @media ( min-width: 1600px ) {
    .posicion-1 {
        position: relative;
        bottom: 40rem;
    }
    .posicion-2 {
        position: relative;
        bottom: 40rem;
    }
 }