<table border="1">
    <thead>
    
        <tr style="color: aliceblue;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Coleccion</th>
        </tr>
    </thead>
    <tbody>
        @for (item of products; track $index) {
            <tr style="color: aliceblue;">
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td> {{item.quantity}} </td>
                <td> {{item.category.categoria}} </td>
                <td> {{item.collection}} </td>
                <td>
                    <a (click)="editar (item._id)">Editar  |</a>
                    <a class="eliminar" (click)="eliminar (item._id)">|  Eliminar</a>
                </td>
            </tr>
    
        }
    </tbody>
    </table>