<form 
    [formGroup]="formData"
    (ngSubmit)="handleSubmit()"
    class="form form-register"
>
    <h1>Register</h1>
    <div class="form-content">
        <div class="field">
            <label for="name-product">Name*</label>
            <input 
                type="text" 
                id="name-product" 
                formControlName="name" 
            />
            <div class="error">
                <!-- Validar los estados del campo input >> name -->
                @if( formData.get( 'name' )?.invalid && ( formData.get( 'name' )?.dirty || formData.get( 'name' )?.touched ) ) {
                    @if( formData.get( 'name' )?.errors?.[ 'required' ] ) {
                        <small>El campo 'name' es obligatorio</small>
                    }
                }

                <!-- <div *ngIf="formData.get( 'name' )?.invalid && ( formData.get( 'name' )?.dirty || formData.get( 'name' )?.touched )" >
                    <small *ngIf="formData.get( 'name' )?.errors?.[ 'required' ]">
                        El campo 'name' es obligatorio
                    </small>
                </div> -->
            </div>
        </div>
        <div class="field">
            <label for="username">Email*</label>
            <input 
                type="email" 
                id="username" 
                formControlName="username"
            />
            <div class="error">
                <!-- Validar los estados del campo input >> name -->
                @if( formData.get( 'username' )?.invalid && ( formData.get( 'username' )?.dirty || formData.get( 'username' )?.touched ) ) {
                    <!-- Valida la regla: Validators.required -->
                    @if( formData.get( 'username' )?.errors?.[ 'required' ] ) {
                        <small>El campo 'email' es obligatorio</small>
                    }
                    <!-- Valida la regla: Validators.email -->
                    @if( formData.get( 'username' )?.errors?.[ 'email' ] ) {
                        <small>Email con formato no valido</small>
                    }
                }
            </div>
        </div>
        <div class="field">
            <label for="password">Password*</label>
            <input 
                type="password" 
                id="password" 
                formControlName="password"
            />
            <div class="error">
                <!-- Validar los estados del campo input >> name -->
                @if( formData.get( 'password' )?.invalid && ( formData.get( 'password' )?.dirty || formData.get( 'password' )?.touched ) ) {
                    <!-- Valida la regla: Validators.required -->
                    @if( formData.get( 'password' )?.errors?.[ 'required' ] ) {
                        <small>El campo 'password' es obligatorio</small>
                    }
                    <!-- Valida la regla: Validators.min -->
                    @if( formData.get( 'password' )?.errors?.[ 'minlength' ] ) {
                        <small>El password debe tener minimo 8 caracteres</small>
                    }
                    <!-- Valida la regla: Validators.max -->
                    @if( formData.get( 'password' )?.errors?.[ 'maxlength' ] ) {
                        <small>El password debe tener maximo 20 caracteres</small>
                    }
                }
            </div>
        </div>
        
    
        <div class="field">
            <button 
                type="submit"
                [disabled]="formData.invalid"
            >Register</button>
        </div>
    </div>
</form>


<!-- 
name
description
price
quantity
category
urlImage
state 
-->