<form action="">
    <div class="field">
        <label for="name-product">Name product</label>
        <input type="text" name="name" id="name-product" />
    </div>
    <div class="field">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
    </div>
    <div class="field">
        <label for="price">Price</label>
        <input type="number" id="price" />
    </div>
    <div class="field">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" />
    </div>
    <div class="field">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="tecnology">Tecnology</option>
            <option value="vegetables">Vegetables</option>
            <option value="fruits">Fruits</option>
            <option value="home">Home</option>
            <option value="pharmacy">Pharmacy</option>
        </select>
    </div>
    <div class="field">
        <label for="">Image Product</label>
        <!-- <input type="file" />
        <input type="text" /> -->
    </div>
    <div class="field">
        <button>Send</button>
    </div>
</form>
